@import "tailwindcss";

@font-face {
    font-family: "JetBrains-Mono";
    src: url("./assets/font/JetBrainsMono.ttf");
}

@font-face {
    font-family: "Inter-Tight";
    src: url("./assets/font/InterTight.ttf");
}

:root {
    font-family: "Inter-Tight", monospace;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mono {
    font-family: "JetBrains-Mono", monospace;
}
